<tr class="product-search__product-row" data-fdc="<%= fdcId %>">
  <td>
    <span data-testid="title"><%= title %></span>
  </td>
  <td>
    <input class="product-amount product-search__amount" type="number" value="100" min="0" data-fdc="<%= fdcId %>" />
    <button 
      type="button" 
      class="close product-search__remove-product" 
      data-dismiss="alert" 
      aria-label="Close"
      data-fdc="<%= fdcId %>">
      <span aria-hidden="true">&times;</span>
    </button>
  </td>
</tr>