* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    /* 16px * 0.625 = 10px */ 
    font-size: 0.625em; 
}

@media (min-width: 100em) {
    html {
        font-size: 0.75em;
    }
}
@media (min-width: 120em) {
    html {
        font-size: 0.9em;
    }
}
@media (min-width: 140em) {
    html {
        font-size: 1.05em;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(100, 100, 100);

    /* Breite: 150px, Höhe 650px */
    /* Verhältnis Breite:Höhe ist 1:5 */
    /* In degree: 11.31deg */

    background-image: 
        linear-gradient(101.31deg, rgb(226,29,60) 50%, rgba(0, 0, 0, 0.5) 50%, transparent 55%),
        url("../images/waves-cropped.svg"),
        linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url("../images/pexels-cesar-galeao-3289711-gray.jpg");

    background-attachment: 
        fixed,
        fixed, 
        fixed, 
        fixed;

    background-repeat: 
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;

    background-size: 
        100% 100%,
        40% auto,
        100% 100%,
        calc(50% + 20vh) auto;

    background-position: 
        -10vh 50%,
        100% 100%,
        50% 50%,
        100% 25%;
}

@media (max-width: 62.5em) {
    body {
        background-color: rgb(226,29,60);
        background-image: url("../images/waves-white-cropped.svg");
        background-attachment: initial;
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: 33vw auto;
    }
}
@media (max-width: 30em) {
    body {
        background-image: none;
    }
}

.page {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
}

@media (max-width: 62.5em) {
    .page {
        flex-direction: column;
    }
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 0 0 40%;

    display: flex;
    flex-direction: column;
}

.countdown {
    flex: 0 1 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 27.5rem;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

@media (max-width: 62.5em) { 
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.main-offer {
    margin: 7.5rem 1.5rem 10rem 1.5rem;
    align-self: center;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
@media (max-width: 62.5em) {  
    .main-offer {
        align-items: center;
        margin-bottom: 3rem;
    }
}

.main-heading {
    margin: 0;
    letter-spacing: 0.05em;
    font-style: italic;
    font-size: 2.8rem;
    font-weight: normal;
    color: white;
}
@media (max-width: 62.5em) {  
    .main-heading {
        text-align: center;
    } 
}

.main-heading > strong {
    text-transform: uppercase;
}

.main-offer-price {
    display: block;
    font-size: 12rem;
    margin-top: 1.8rem;
}

.join-today {
    display: inline-block;
    font-size: 2.4rem;
    background-color: black;
    color: white;
    border-radius: 99999rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 5rem;
    margin-top: 4rem;
}

.join-today:hover {
    background-color: rgb(50, 50, 50);
}

.footer-paragraph {
    margin: 1.5rem 0 1.5rem 1.5rem;
    color: black;
}

.countdown-heading {
    margin: 3rem 0 0 0;
    color: white;
    text-align: center;
    letter-spacing: 0.05em;
    font-weight: normal;
    font-size: 2.8rem;
    text-transform: uppercase;
}

.countdown-paragraph {
    margin: 0;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 5.8rem;
}

