* {
    box-sizing: border-box;
}

body {
    background-color: rgb(128, 128, 128);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    background-color: rgb(255, 255, 255);
    width: 500px;
    border: 2px solid rgb(80, 80, 80);
    border-radius: 5px;
    margin: 25px auto;
    padding: 20px 25px;
}


img.image {
    width: 100%;
    border: 25px solid green;
}

.container h1 {
    color: darkcyan;
}

.container>h2,
p a {
    color: darkmagenta;
}

.navigation a {
    color: black;
}